# Virtual environments
venv
venv/
env/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# AWS credentials
.aws/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Models / Data
*.pkl
*.joblib
*.csv
*.parquet
